ADITI PANDEY

In [ ]:
#Find the output of the following
name = """ Hi How are you?
Starterd learning python.
It's really interesting."""

In [ ]:
print("Full string:")

Full string:

In [ ]:
print(name[:])

 Hi How are you?
Starterd learning python.
It's really interesting.

In [ ]:
print(name[-10:-5])

teres

In [ ]:
print(name[3:12])

 How are

In [ ]:
print(name[12:3])

In [ ]:
print(name[::2])

 iHwaeyu
tredlann yhn
tsral neetn.

In [ ]:
print(name[::-2])

.nteen larst
nhy nnaldert
uyeawHi

In [ ]:
print(name[::-1])

.gnitseretni yllaer s'tI
.nohtyp gninrael dretratS
?uoy era woH iH

In [ ]:
#2. L1 = [‘a’ , ‘b’, 20, 30, ‘t’, 100, 300, 400, ‘Happy’, ‘major’]
L1 = ['a','b',20,30,'t',100,300,400,'Happy','major']

In [ ]:
L1

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
L1[:]

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [ ]:
L1[::3]

['a', 30, 300, 'major']

In [ ]:
L1[::-2]

['major', 400, 100, 30, 'b']

In [ ]:
L1[5:8]

[100, 300, 400]

In [ ]:
#3. If l2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”] then what is the output of following
l2 = [1,2,3,5,['a','b','work hard'],100,200,"Success"]

In [ ]:
l2

[1, 2, 3, 5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
l2[4]

['a', 'b', 'work hard']

In [ ]:
l2[1:5]

[2, 3, 5, ['a', 'b', 'work hard']]

In [ ]:
l2[7]

'Success'

In [ ]:
l2[7][2]

'c'

In [ ]:
l2[:3]

[1, 2, 3]

In [ ]:
l2[3:]

[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [ ]:
l2[4][1]

'b'

In [ ]:
l2[4].remove('BEE')

ValueError: list.remove(x): x not in list

In [ ]:
l2.append({'insect':['bee','moth'],'bird':['parrot','sparrow']})

In [ ]:
l2

[1,
 2,
 3,
 5,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [ ]:
l2[-1]['insect']

['bee', 'moth']

In [ ]:
#11. Ask user to enter the marks and define if the user got distinction,
#first class, second class, pass, Fails
marks = int(input("Enter marks: "))

if marks > 80:
    print("You got distinction")
elif marks > 60:
    print("You got First class")
elif marks > 40:
    print("You got second class")
elif marks >= 35:
    print("PASS")
else:
    print("FAIL")

Enter marks: 45
You got second class

In [ ]:
#12. Ask user to enter information about salary of the employee per year and rating received as A, B, C, D
salary = float(input("Enter salary: "))
rating = input("Enter rating A/B/C/D: ")

if salary <= 5:
    inc = {'A':0.16,'B':0.12,'C':0.10,'D':0.06}
elif salary <= 10:
    inc = {'A':0.14,'B':0.10,'C':0.08,'D':0.06}
elif salary <= 15:
    inc = {'A':0.08,'B':0.06,'C':0.04,'D':0}
else:
    inc = {'A':0.07,'B':0.05,'C':0.04,'D':0}

print("Increment:", salary * inc[rating])

Enter salary: 5000
Enter rating A/B/C/D: A
Increment: 350.00000000000006

In [ ]:
[x*x for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[x for x in range(1,201) if x%13==0]

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [ ]:
[x for x in range(300,401) if x%4==0]

[300,
 304,
 308,
 312,
 316,
 320,
 324,
 328,
 332,
 336,
 340,
 344,
 348,
 352,
 356,
 360,
 364,
 368,
 372,
 376,
 380,
 384,
 388,
 392,
 396,
 400]

In [ ]:
#25. Ask user to enter the name and DOB and generate the password based on first name 4 characters and last 4 digits of DOB or year @yyyy. For example name =
#SURESH and DOB = 05-05-1978 then password will be SURE@1978
name = input("Enter name: ")
dob = input("Enter DOB (dd-mm-yyyy): ")

password = name[:4].upper() + "@" + dob[-4:]
print(password)

Enter name: aditi
Enter DOB (dd-mm-yyyy): 20-09-2003
ADIT@2003

In [ ]:
#26. Create the format mentioned here.
for i in range(1,5):
   print("* " * i)

*
* *
* * *
* * * *

In [ ]:
#27. Create the format as mentioned below:
for i in range(4,0,-1):
    print("*" * i)

****
***
**
*

In [ ]:

s = input("Enter string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

Enter string: madam
Palindrome

In [ ]:
a,b = 0,1
while a <= 100:
    print(a,end=" ")
    a,b = b,a+b

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
n = int(input("Enter number: "))
fact = 1

for i in range(1,n+1):
    fact *= i

print(fact)

Enter number: 10
3628800

In [ ]:
subject = input("Enter subject: ")
analytics = input("Analytics (Y/N): ")
hostel = input("Hostel (Y/N): ")
food = int(input("Food months: "))
transport = input("Transport (semester/annual): ")

fee = 200000

if analytics == 'Y':
    fee += fee * 0.10

if hostel == 'Y':
    fee += 200000

fee += food * 2000

if transport == 'semester':
    fee += 13000 * 2
else:
    fee += 26000

print("Total annual fee:", fee)

Enter subject: English
Analytics (Y/N): Y
Hostel (Y/N): Y
Food months: 12
Transport (semester/annual): annual
Total annual fee: 470000.0

In [ ]:
books = {
    "1-4": 60,
    "5-8": 100,
    "9-10": 150
}

cls = input("Enter class range: ")
need_nb = input("Need notebook (Y/N): ")

bill = books[cls]

if need_nb == 'Y':
    bill += 40

print("Total bill:", bill)

Enter class range: 4
Need notebook (Y/N): Y

KeyError: '4'

In [ ]:
days = int(input("Enter FD days: "))

if days <= 180:
    rate = 5
elif days <= 365:
    rate = 6
else:
    rate = 7

print("Interest rate:", rate, "%")

Enter FD days: 5
Interest rate: 5 %

In [ ]:
a = 100

{'0', '1'}

In [ ]:
str(a)

'100'

In [ ]:
float(a)

100.0

In [ ]:
list(str(a))

['1', '0', '0']

In [ ]:
tuple(str(a))

('1', '0', '0')

In [ ]:
set(str(a))

{'0', '1'}

In [ ]:
city = "Pune"

In [ ]:
list(city)

['P', 'u', 'n', 'e']

In [ ]:
tuple(city)

('P', 'u', 'n', 'e')

In [ ]:
set(city)

{'P', 'e', 'n', 'u'}

In [ ]:
int(city)

ValueError: invalid literal for int() with base 10: 'Pune'

In [ ]:
float(city)

ValueError: could not convert string to float: 'Pune'

In [ ]:
marks = [20,18,15,17,18]

In [ ]:
tuple(marks)

(20, 18, 15, 17, 18)

In [ ]:
set(marks)

{15, 17, 18, 20}

In [ ]:
list(marks)

[20, 18, 15, 17, 18]

In [ ]:
int(marks)

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

In [ ]:
float(marks)

TypeError: float() argument must be a string or a real number, not 'list'

In [ ]:
snames = []

In [ ]:
snames.append(20)

In [ ]:
snames.extend([30])

In [ ]:
snames.append([40,50])

In [ ]:
snames.extend("WORK")

In [ ]:
r = [1,'a','b',2,3]
ans= r + snames
print(r)

[1, 'a', 'b', 2, 3]

In [ ]:
snames = [20,30]
c = [1,'a','b',2,3]

snames.append(c)
print(snames)

[20, 30, [1, 'a', 'b', 2, 3]]

In [ ]:
snames = [20,30]
snames.extend(c)
print(snames)

[20, 30, 1, 'a', 'b', 2, 3]

In [ ]:
l1 = [9,8]
l2 = [1,2,3,4,5,6,7]

l2.insert(3, l1)
print(l2)

[1, 2, 3, [9, 8], 4, 5, 6, 7]

In [ ]:
collec = [1,2,3,['a','b','c'],100,'Richa',20.50,90.10]

for i in collec:
    if type(i) == int or type(i) == float:
        print(i * 5)

5
10
15
500
102.5
450.5

In [ ]:
collec.remove("Richa")
print(collec)

[1, 2, 3, ['a', 'b', 'c'], 100, 20.5, 90.1]

In [ ]:
collec.index(20.50)

5

In [ ]:
[x*x for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[x for x in range(1,201) if x % 13 == 0]

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [ ]:
x = 2
y = 2
xlist = list(range(x))
ylist = list(range(y))
r = [[i,j] for i in xlist for j in ylist]
print(r)

[[0, 0], [0, 1], [1, 0], [1, 1]]

In [ ]:
s = {1,2}
s.add(3)
s

{1, 2, 3}

In [ ]:
s.update([4,5])

In [ ]:
s

{1, 2, 3, 4, 5}

In [ ]:
l = [1,2]

In [ ]:
l.append([3,4])
l

[1, 2, [3, 4], 5, 6, [3, 4]]

In [ ]:
l.extend([5,6])
l

[1, 2, [3, 4], 5, 6, [3, 4], 5, 6]

In [ ]:
l = [10,20,30]

In [ ]:
l.pop(1)

20

In [ ]:
l.remove(30)

In [ ]:
l

[10]

In [ ]:
s = set()

In [ ]:
s1 = {1,2,3}

In [ ]:
s2 = {3,4,5}

In [ ]:
s1 | s2    # Union

{1, 2, 3, 4, 5}

In [ ]:
s1 & s2    # Intersection

{3}

In [ ]:
s1 - s2   #difference

{1, 2}

In [ ]:
from datetime import datetime

start_date = input("Enter FD start date (dd-mm-yyyy): ")
end_date = input("Enter FD end date (dd-mm-yyyy): ")

s_date = datetime.strptime(start_date, "%d-%m-%Y")
e_date = datetime.strptime(end_date, "%d-%m-%Y")

days = (e_date - s_date).days

if days <= 180:
    print("Interest Rate: 4%")
elif days <= 365:
    print("Interest Rate: 5.5%")
elif days <= 1095:
    print("Interest Rate: 6.5%")
else:
    print("Interest Rate: 7%")

In [ ]:
name = "himanshupandey"
print(len(name))
ab= ""

for i in range(len(name)):
  #print(i,name[i])
  ab+= name[i]
  print(ab)

In [ ]:
name = "himanshupandey"
print(len(name))
ab= ""


for ch in name[::-1]:
    ab += ch
    print(ab)

In [ ]:
a= input("Enter word: ")

r= ""
for i in range(len(a), 0, -2):
    r += a[max(0, i-2):i]

print("password:", r)

Enter word: Aditi Pandey
password: eyndPai itAd

In [ ]:
#Square up to 10 (list comprehension)

squares = [i*i for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#Numbers divisible by 13 till 200
nums = [i for i in range(1, 201) if i % 13 == 0]
print(nums)

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [ ]:
#Password using year
name= "Aditi"
dob = '20-09-2003'
password = name[:4].upper() + "@" + dob[-4:]
print(password)

ADIT@2003

In [ ]:
#Pattern

In [ ]:
for i in range(1, 5):
    print("* " * i)

*
* *
* * *
* * * *

In [ ]:
for i in range(4, 0, -1):
    print("*" * i)

****
***
**
*

In [ ]:
val = "ABCD"
for i in range(len(val)):
    print(" ".join(val[:i+1]))

A
A B
A B C
A B C D

In [ ]:
val = "ABCD"
for i in range(len(val)):
    print(val[i] * (i+1))

A
BB
CCC
DDDD

In [ ]:
for i in range(1, 5):
    print(str(i) * i)

1
22
333
4444

In [ ]:
val = "ABCD"
rev = val[::-1]
for i in range(len(rev)):
    print(rev[:i+1])

D
DC
DCB
DCBA

In [ ]:
s = input("Enter string: ")
rev = s[::-1]
for i in range(len(rev)):
    print(rev[:i+1])

Enter string: Aditi
i
it
iti
itid
itidA

In [ ]:
#. Odd numbers (two ways)

In [ ]:
odd = []
for i in range(1, 11):
    if i % 2 != 0:
        odd.append(i)
print(odd)

[1, 3, 5, 7, 9]

In [ ]:
odd2 = [i for i in range(1, 11) if i % 2 != 0]
print(odd2)

[1, 3, 5, 7, 9]

In [ ]:
#Even numbers 200–250

In [ ]:
even = []
for i in range(200, 251):
    if i % 2 == 0:
        even.append(i)
print(even)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

In [ ]:
#Marks validation
def get_marks():
    try:
        m = int(input("Enter marks: "))
        if 0 <= m <= 100:
            print("Valid marks")
        else:
            print("Invalid marks")
    except:
        print("Enter number only")
get_marks()

Enter marks: 56
Valid marks

In [ ]:
#Name validation
def validate_name(name):
    if name.isalpha():
        print("Valid name")
    else:
        print("Invalid name")

validate_name(input("Enter name: "))

Enter name: Aditi
Valid name

In [ ]:
#Mobile number validation

def validate_mobile(m):
    if m.isdigit() and len(m) == 10:
        print("Valid mobile")
    else:
        print("Invalid mobile")

validate_mobile(input("Enter mobile: "))

Enter mobile: 7485967485
Valid mobile

In [ ]:
#Customer dictionary

cust = {}
cid = 1

while True:
    name = input("Name: ")
    dob = input("DOB: ")
    mobile = input("Mobile: ")

    cust[cid] = {"name": name, "DOB": dob, "mobile": mobile}
    cid += 1

    if input("Add more? y/n: ") == 'n':
        break

print(cust)

Name: Aditi
DOB: 20-09-2003
Mobile: 7485967485
Add more? y/n: y
Name: Richa
DOB: 23-09-2003
Mobile: 7485967486
Add more? y/n: n
{1: {'name': 'Aditi', 'DOB': '20-09-2003', 'mobile': '7485967485'}, 2: {'name': 'Richa', 'DOB': '23-09-2003', 'mobile': '7485967486'}}

In [ ]:
#Sort dictionary by value

dict1 = {"Key":{"subkey":20},"k2":{"sub2":5},"k3":{"sub4":16},"k4":{"sub4":6}}

sorted_dict = dict(sorted(dict1.items(), key=lambda x: list(x[1].values())[0]))
print(sorted_dict)

{'k2': {'sub2': 5}, 'k4': {'sub4': 6}, 'k3': {'sub4': 16}, 'Key': {'subkey': 20}}

In [ ]:
#Calculate age
from datetime import date

def age(dob_year):
    return date.today().year - dob_year

print(age(2000))

26

In [ ]:
#palindrome
def palindrome(s):
    print(s == s[::-1])

palindrome("NITIN")

True

In [ ]:
#Fibonacci up to 100

a, b = 0, 1
while a <= 100:
    print(a, end=" ")
    a, b = b, a+b

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
#Factorial

n = 5
fact = 1
for i in range(1, n+1):
    fact *= i
print(fact)

120

In [ ]:
#lagrest number

l = [10, 50, 30]
print(max(l))

50

In [ ]:
#Common elements
l1 = [1,2,3,4,5]
l2 = [3,2,8,7,9]

print(list(set(l1) & set(l2)))

[2, 3]

In [ ]:
class User:
    def signup(self):
        print("User signed up")

    def signin(self):
        print("User signed in")

    def view_products(self):
        print("Viewing products")

    def place_order(self):
        print("Order placed")

u = User()
u.signup()
u.signin()
u.view_products()
u.place_order()

User signed up
User signed in
Viewing products
Order placed