In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect("hotel.db")
cursor = conn.cursor()

In [ ]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS hotel_bill (
    item_name TEXT,
    quantity INTEGER,
    price INTEGER,
    total INTEGER
)
""")
conn.commit()

In [ ]:
menu = {
    "Paneer Butter Masala": 250,
    "Dal Fry": 180,
    "Butter Naan": 40,
    "Jeera Rice": 150,
    "Noodles":210,
    "Pizza":200,
    "Samosa": 30
}

In [ ]:
print("Welcome to Bajrangbali Da Dhaba\n")
print("Menu:")

for item, price in menu.items():
    print(item, "₹", price)

item_name = input("\nEnter item name: ")
quantity = int(input("Enter quantity: "))

Welcome to Bajrangbali Da Dhaba

Menu:
Paneer Butter Masala ₹ 250
Dal Fry ₹ 180
Butter Naan ₹ 40
Jeera Rice ₹ 150
Noodles ₹ 210
Pizza ₹ 200
Samosa ₹ 30

Enter item name: Samosa
Enter quantity: 2

In [ ]:
price = menu[item_name]
total = price * quantity

In [ ]:
cursor.execute(
    "INSERT INTO hotel_bill VALUES (?, ?, ?, ?)",
    (item_name, quantity, price, total)
)
conn.commit()

In [ ]:
print("\n----------- HOTEL BILL -----------")
print("Restaurant : Bajrangbali Da Dhaba")
print("Item       :", item_name)
print("Quantity   :", quantity)
print("Price      : ₹", price)
print("Total Amt  : ₹", total)
print("---------------------------------")

----------- HOTEL BILL -----------
Restaurant : Bajrangbali Da Dhaba
Item       : Samosa
Quantity   : 2
Price      : ₹ 30
Total Amt  : ₹ 60
---------------------------------

In [ ]:
print("\nSaved Data in Database:")
cursor.execute("SELECT * FROM hotel_bill")
rows = cursor.fetchall()

for row in rows:
    print(row)

Saved Data in Database:
('Samosa', 2, 30, 60)

In [ ]:
conn.close()