Write a Python program to generate a hotel bill .

The bill should display item name, quantity, price, and total amount.

Take input from the user.

In [3]:

total = 0

n = int(input("How many items: "))

for i in range(n):
    name = input("Item name: ")
    qty = int(input("Quantity: "))
    price = int(input("Price: "))

    amt = qty * price
    total = total + amt

    print(name, "Amount =", amt)

print("Total Bill =", total)

How many items: 1
Item name: Samosa
Quantity: 5
Price: 50
Samosa Amount = 250
Total Bill = 250

In [19]:
bill = []
total = 0

try:
    n = int(input("How many items: "))
    for i in range(1, n+1):
        name = input("Item name: ")
        qty = int(input("Quantity: "))
        price = int(input("Price: "))
        amt = qty * price
        bill.append((i, name, qty, amt))
        total += amt
except:
    print("Invalid input")
else:
    print("="*40)
    print("        HOTEL SHREE RAM")
    print("="*40)
    print("SR ITEM           QTY PRICE")
    print("-"*40)
    for b in bill:
        print(b[0], b[1], " "*(10-len(b[1])), b[2], " ", b[3])
    print("-"*40)
    print("TOTAL AMOUNT:", total)
    print("Thank You! Visit Again")
    print("="*40)

How many items: 2
Item name: Pizza
Quantity: 1
Price: 120
Item name: Samosa
Quantity: 2
Price: 30
========================================
        HOTEL SHREE RAM
========================================
SR ITEM           QTY PRICE
----------------------------------------
1 Pizza       1   120
2 Samosa      2   60
----------------------------------------
TOTAL AMOUNT: 180
Thank You! Visit Again
========================================

In [3]:

class Hotel:
    name = "HOTEL SHREE RAM"

h = Hotel()
bill = []
total = 0

n = int(input("How many items: "))

for i in range(1, n+1):
    item = input("Item name: ")
    qty = int(input("Quantity: "))
    price = int(input("Price: "))
    amt = qty * price
    bill.append((i, item, qty, amt))
    total += amt

print("="*40)
print(h.name)
print("="*40)
print("SR ITEM           QTY PRICE")
print("-"*40)

for b in bill:
    print(b[0], b[1], " "*(10-len(b[1])), b[2], " ", b[3])

print("-"*40)
print("TOTAL AMOUNT:", total)
print("Thank You! Visit Again")
print("="*40)

How many items: 1
Item name: Burger
Quantity: 1
Price: 120
========================================
HOTEL SHREE RAM
========================================
SR ITEM           QTY PRICE
----------------------------------------
1 Burger      1   120
----------------------------------------
TOTAL AMOUNT: 120
Thank You! Visit Again
========================================

13. Ask user to opt for courses for master degree based on the following L1 = [“HR”, “Finance”, “Marketing”, “DS”]
Based on above subject there are two different streams. For example- HR is having HR core and HR analytics
and Marketing is having core and Marketing analytics. Analytics is the optional subject and having added extra fees.
DS is not having analytics. If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.
If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 . Transportation charges 13000 per semester.#Calculate the total annual cost based on selected service. User will enter values as subject, analytics(Y/N), Hostel (Y/N),
food(How many months?), Transportation(semester/annual) Explain the question

Subject (HR
Finance
Marketing
DS)

Analytics (Y/N)

Hostel (Y/N)

Food months(NO OF MONTHS)

Transportation (semester / annual)

In [23]:
courses = {"HR": True, "Finance": True, "Marketing": True, "DS": False}

def calculate_fees():
    total = 200000

    subject = input("Enter Subject (HR/Finance/Marketing/DS): ")
    analytics = input("Analytics (Y/N): ")
    hostel = input("Hostel (Y/N): ")
    food_months = int(input("Food months: "))
    transport = input("Transportation (semester/annual): ")

    if analytics == "Y" and courses[subject]:
        total += 20000

    if hostel == "Y":
        total += 200000

    total += food_months * 2000

    if transport == "semester":
        total += 13000 * 2
    else:
        total += 13000 * 2

    print("Total Fees:", total)

calculate_fees()

Enter Subject (HR/Finance/Marketing/DS): HR
Analytics (Y/N): Y
Hostel (Y/N): N
Food months: 11
Transportation (semester/annual): annual
Total Fees: 268000

In [22]:
courses = {"HR": True, "Finance": True, "Marketing": True, "DS": False}
total = 200000

try:
    subject = input("Enter Subject (HR/Finance/Marketing/DS): ")
    analytics = input("Analytics (Y/N): ")
    hostel = input("Hostel (Y/N): ")
    food_months = int(input("Food months: "))
    transport = input("Transportation (semester/annual): ")

    if analytics == "Y" and courses[subject]:
        total += 20000

    if hostel == "Y":
        total += 200000

    total += food_months * 2000

    if transport == "semester":
        total += 13000 * 2
    else:
        total += 13000 * 2

    print("Total Fees:", total)

except:
    print("Invalid input")

Enter Subject (HR/Finance/Marketing/DS): HR
Analytics (Y/N): Y
Hostel (Y/N): Y
Food months: 10
Transportation (semester/annual): semester
Total Fees: 466000

In [25]:
class CourseFees:
    def __init__(self):
        self.courses = {"HR": True, "Finance": True, "Marketing": True, "DS": False}
        self.total = 200000

    def calculate(self):
        subject = input("Enter Subject (HR/Finance/Marketing/DS): ")
        analytics = input("Analytics (Y/N): ")
        hostel = input("Hostel (Y/N): ")
        food_months = int(input("Food months: "))
        transport = input("Transportation (semester/annual): ")

        if analytics == "Y" and self.courses[subject]:
            self.total += 20000

        if hostel == "Y":
            self.total += 200000

        self.total += food_months * 2000

        if transport == "semester":
            self.total += 13000 * 2
        else:
            self.total += 13000 * 2

        print("Total Fees:", self.total)

obj = CourseFees()
obj.calculate()

Enter Subject (HR/Finance/Marketing/DS): HR
Analytics (Y/N): Y
Hostel (Y/N): N
Food months: 6
Transportation (semester/annual): annual
Total Fees: 258000

password creation

In [2]:
pw = input("Enter word: ")

r = ""
for i in range(len(pw), 0, -2):
    r += pw[max(0, i-2):i]

print("Generated password:", r)

Enter word: Aditi Pandey
Generated password: eyndPai itAd

Book Shop

Create a empty dictionary and ask user to enter values as name, DOB, mobile number add all the details in dictionary with customer number as 1 for first time. If user try to enter another value, then number should increase as 2 with new details and previous values should not change.

In [10]:
data = {}
def customer():
  r = len(data) + 1

  name= input("enter the name: ")
  year= input("enter the year(dd-mm-yyyy): ")
  number= int(input("enter the number: "))

  data[r] = {"name":name, "year":year, "number":number}

  print(data[r])

  choice =input("enter the new ?? Y/N :")

  if choice.upper() == 'Y':
    customer()
  else:
    print("Thank you")

customer()

enter the name: Aditi
enter the year(dd-mm-yyyy): 20-09-2003
enter the number: 9090909090
{'name': 'Aditi', 'year': '20-09-2003', 'number': 9090909090}
enter the new ?? Y/N :N
Thank you

In [11]:
data

{1: {'name': 'Aditi', 'year': '20-09-2003', 'number': 9090909090}}

Create a function to check age eligibility for given customer based on DOB. Function will take two input DOB and ELIGIBILITY age.

In [15]:
def check_eligibility():
    try:
        dob_year = int(input("Enter birth year: "))
        eligibility_age = int(input("Enter eligibility age: "))

        current_year = 2026
        age = current_year - dob_year

        if age >= eligibility_age:
            print("Eligible")
        else:
            print("Not Eligible")

    except:
        print("Invalid input")


check_eligibility()

Enter birth year: 2010
Enter eligibility age: 18
Not Eligible

In [14]:
try:
    dob_year = int(input("Enter birth year: "))
    eligibility_age = int(input("Enter eligibility age: "))

    current_year = 2026
    age = current_year - dob_year

    if age >= eligibility_age:
        print("Eligible")
    else:
        print("Not Eligible")

except:
    print("Invalid input")

Enter birth year: 2008
Enter eligibility age: 18
Eligible

Calculate total hours based on input sign in and sign out time

In [16]:
sign_in = int(input("Enter sign in hour: "))
sign_out = int(input("Enter sign out hour: "))
def total_hours(sign_in, sign_out):
  return sign_out - sign_in
print("Total hours:", total_hours(sign_in, sign_out))

Enter sign in hour: 9
Enter sign out hour: 15
Total hours: 6